{
  box-sizing: border-box;
}

header> h1 {
  display: inline;
}
nav{
  margin-right: 20px;
  float: right;
}

.work-grid {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: end;
  display: grid;
  margin: 5px;
}

#work-grid {
  min-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
                    "dummy-pic_bio dummy-pic_bio"
                    "dummy-pic_1 dummy-pic_2"
                    "dummy-pic_3 dummy-pic_4"; 
}

#bio-pic {
  background-image: url(../images/02-run-buddy.jpg);
  height: 400px;
  grid-area: dummy-pic_bio;
}

#work-1 {
  background-image: url(../images/02-portfolio-1.jpg);
  grid-area: dummy-pic_1;
}
#work-2 {
  background-image: url(../images/02-portfolio-1.jpg);
  grid-area: dummy-pic_2;
}
#work-3 {
  background-image: url(../images/02-portfolio-2.jpg);
  grid-area: dummy-pic_3;
}
#work-4 {
  background-image: url(../images/02-portfolio-3.jpg);
  grid-area: dummy-pic_4;
}
a {
  margin-left: auto;
  padding: 20px;
}
.container {
  display: grid;
  min-height: 500px;
  height: 70vh;

  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 20px;
}
.hero-banner {
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
  height: 200px;
  object-fit: cover;
  align-items: flex-end;
  justify-content: flex-end;
}


div >h2 {
  display: inline-block;
}

body {
  margin: 0%;
  font-family: Arial, Helvetica;
  line-height: 1.5;
}

h1 {
 margin: 5px;
 padding: 5px;
 font-family: Arial, Helvetica, sans-serif; 
 justify-content: flex-end;

}


h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
footer {
  display: flex;
  justify-content: space-around;
}
