*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
  display: inline;
  padding: 50px, 80px ;
  letter-spacing: 5px;
}
nav{
  margin-left: 20px;
  float: right;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
  text-decoration: none; 
  color: black;
}

a {
  text-decoration: none;
}
div  a h1{
 
  color: black;
  font-size: 18px;
  
}

.hero-banner {
  display: flex;
  padding-top: 100px;
  background-image: url(../images/7.jpg);
  image-rendering: crisp-edges;
  background-position:right;
  height: 500px;
  background-repeat: no-repeat;
  justify-content: right;
  align-content: flex-end;
}


.page-section{
  display: flex;
  justify-content: center;
}
.work-grid {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: end;
  display: grid;
  margin: 5px;
}

#work-grid {
  min-height: 2000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr .4fr .75fr;
  grid-template-areas: 
                    "work-1 work-1"
                    "work-2 work-3"
                    "work-4 work-5"; 
}

div  h1{
 margin: 5px;
 padding: 5px; 
 font-weight: 100;
 font-size: medium;
 display: flex;
 justify-content: flex-start;
}

/* hover property- enables the images to be translucent when hovered */
.work-grid:hover{
  opacity:0.3;
}
p{
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 10px;
}
#about {
  display: flex;
  justify-content: right;
  padding-right: 100px;
}
#work {
  display: flex;
  justify-content: right;
  padding-right: 100px;
}
#contact {
  display: flex;
  justify-content: right;
  padding-right: 100px;
}

#work-1 {
  background-image: url(../images/4.jpeg);
  height: 700px;
  grid-area: work-1;
}

#work-2 {
  background-image: url(../images/2.jpg);
  height: 500px;
  grid-area: work-2;
}
#work-3 {
  background-image: url(../images/1.jpg);
  height: 500px;
  grid-area: work-3;
}
#work-4 {
  background-image: url(../images/10.jpg);
  height: 500px;
  grid-area: work-4;
}
#work-5 {
  background-image: url(../images/8.jpg);
  height: 500px;
  grid-area: work-5;
}
a {
  padding-left: 20px;
  color: black
}
.container {
  display: grid;
  min-height: 500px;
  height: 70vh;

  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 20px;
}
 section img{ 
  float: left;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;



}
div h2 {
  display: inline-block;
}
#bannertext{
  display: flex;
  align-items: flex-end;

}
body {
  margin: 0%;
  padding: 50px;
  font-family: Arial, Helvetica;
  line-height: 1.5;
}

h1 {
 padding: 5px;
 font-family: Arial, Helvetica, sans-serif; 
 justify-content: space-evenly;
 color: black;
}


.footer {
  display: flex;
  justify-content: space-evenly;
}

h3{
  color: black;
}

h4{
  color: black;
}
div a{
  background-color: rgba(0, 0, 0, 0.041);
}

@media all and (min-width: 933px) and (max-width: 1200px) {
  body {
    background: rgba(32, 32, 32, 0.041);
  }

  .hero-banner{
    display: none;
  }

.container{
    margin: 0px 5%;
    display: grid;
    min-height: 300px;
    height: 100vh;
    grid-template-columns: 20% 80%;
    gap: 15px;
  }

p{
  font-size: 16px;
}

#work-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "work-1 work-1"
    "work-2 work-3"
    "work-4 work-5";
    
  }

}